/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-white: #fff;
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* DRY rules */

body,
#overlay,
.main-container {
  flex-direction: column;
}

body,
#overlay,
.main-container,
.keyrow {
  display: flex;
}

#overlay,
.keyrow {
  justify-content: center;
}

#overlay,
.title,
.start a,
.letter.show,
.chosen,
.wrong {
  color: var(--color-white);
}

button,
.letter {
  font-size: var(--font-size-medium);
}

#overlay,
button,
.letter {
  border-radius: 5px;
}

body {
  justify-content: space-evenly;
  height: 100vh;
}

ul, ol, li {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  background-color: var(--color-keys-light);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
}

.main-container {
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
  user-select: none;
}

/* Title */

.header {
  color: #3a3f58;
}

/* Phrase */

.letter {
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
}

.space {
  width: 15px;
}

.show {
  background-color: #4ac0d5;
  font-size: 20px;
  margin-right: 2px;
  animation: flip .4s;
}

/* Keyboard */

.chosen {
  background: #3a3f58;
}

.wrong {
  background: #f7a964;
  animation: shake .5s;
}

/* Overlay */

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.start {
  background-color: #3a3f58;
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
}

/* Animations */

@keyframes shake {
  from {
    transform: translate3d(-1px, 0, 0);
  }

  70% {
    transform: translate3d(-4px, 0, 0);
  }

  to {
    transform: translate3d(0);
  }
}

@keyframes flip {
  from {
    transform: rotateX(180deg);
  }

  to {
    transform: rotateX(360deg);
  }
}